*.swp
src/standard/constitution.scad
src/standard/constitution-refit.scad
src/standard/excelsior.scad
src/standard/ambassador.scad
src/standard/galaxy.scad
src/standard/sovereign.scad
src/standard/kelvin.scad
src/standard/nx.scad
src/standard/odyssey.scad
src/standard/universe.scad
src/standard/danube.scad
src/standard/defiant.scad
stl/standard/ambassador.stl
stl/standard/constitution-refit.stl
stl/standard/constitution.stl
stl/standard/danube.stl
stl/standard/defiant.stl
stl/standard/excelsior.stl
stl/standard/galaxy.stl
stl/standard/kelvin.stl
stl/standard/nx.stl
stl/standard/odyssey.stl
stl/standard/sovereign.stl
stl/standard/universe.stl
