*.swp
src/standard/constitution.scad
src/standard/constitution-refit.scad
src/standard/excelsior.scad
src/standard/ambassador.scad
src/standard/galaxy.scad
src/standard/sovereign.scad
src/standard/kelvin.scad
src/standard/nx.scad
src/standard/odyssey.scad
src/standard/universe.scad
