*.swp
src/standard/ambassador.scad
src/standard/constitution-refit.scad
src/standard/constitution.scad
src/standard/danube.scad
src/standard/defiant.scad
src/standard/equinox.scad
src/standard/excelsior.scad
src/standard/galaxy.scad
src/standard/kelvin.scad
src/standard/nx.scad
src/standard/odyssey.scad
src/standard/sovereign.scad
src/standard/universe.scad
stl/standard/ambassador.stl
src/standard/vengeance.scad
stl/standard/constitution-refit.stl
stl/standard/constitution.stl
stl/standard/danube.stl
stl/standard/defiant.stl
stl/standard/equinox.stl
stl/standard/excelsior.stl
stl/standard/galaxy.stl
stl/standard/kelvin.stl
stl/standard/nx.stl
stl/standard/odyssey.stl
stl/standard/sovereign.stl
stl/standard/universe.stl
stl/standard/vengeance.stl
src/standard/discovery.scad
src/standard/federation.scad
src/standard/intrepid.scad
